.libro {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.secciones{
    color:White;
    padding: 30px;
}

hr{
    color: aqua;
    width: 80%;
    background-color: aqua;
}

.botones{
    display: flex;
    justify-content:space-around;
    align-items:flex-end;
}